body{
    display: grid;
    place-items: center;
    height: 100vh;
    user-select: none;
    background-image: url("./Assets/images\ \(24\).jpeg")
}
.main{display: flex;
gap:200px}
.left h3{text-align: center;
font-size: 30px;
margin-bottom: 30px;}
.lowtad{
    width: 300px;

}

.lowtad:hover {
    opacity: 0.9;
    cursor: pointer;
}
.lowtad:active {
    opacity: 0.8;
    transform: scale(1.15)
}
